CREATE DATABASE [Skolska biblioteka];
USE [Skolska biblioteka];

-- Табела ,,Uloga''

CREATE TABLE Uloga(
  id INT PRIMARY KEY,
  naziv NVARCHAR(50) NOT NULL
);

INSERT INTO Uloga (id, naziv) VALUES (1, N'Члан'),
(2, N'Запослени'),
(3, N'Администратор');

SELECT *
FROM Uloga;

-- Табела ,,Izdavac''

CREATE TABLE Izdavac(
  id INT PRIMARY KEY,
  ime NVARCHAR(50) NOT NULL,
  sediste NVARCHAR(50) NOT NULL
);

INSERT INTO Izdavac (id, ime, sediste) VALUES (1, N'Дерета', N'Кнез Михаилова 46, Београд'),
(2, N'Вулкан', N'Господара Вучића 245, Београд'),
(3, N'Лагуна', N'Ресавска 33, Београд'),
(4, N'Креативни центар', N'Градиштанска 8, Београд'),
(5, N'Пчелица', N'Колубарска 4, Чачак');

SELECT *
FROM Izdavac;

-- Табела ,,Knjizevni_rod''

CREATE TABLE Knjizevni_rod(
  id INT PRIMARY KEY,
  naziv NVARCHAR(50) NOT NULL,
  opis NVARCHAR(500)
);


SELECT *
FROM Knjizevni_rod;

-- Табела ,,Knjizevna_vrsta''

CREATE TABLE Knjizevna_vrsta(
  id INT PRIMARY KEY,
  naziv NVARCHAR(50) NOT NULL,
  opis NVARCHAR(500),
  knjizevni_rod_id INT FOREIGN KEY REFERENCES Knjizevni_rod(id)
);

INSERT INTO Knjizevna_vrsta (id, naziv, knjizevni_rod_id) VALUES (1, N'роман', 2),
(2, N'комедија', 3),
(3, N'трагедија', 3),
(4, N'љубавна песма', 1),
(5, N'збирка приповедака', 2);

SELECT *
FROM Knjizevna_vrsta;

-- Функција ,,datumRodjenja''

CREATE FUNCTION datumRodjenja(@jmbg CHAR(13))
RETURNS DATE
AS
	BEGIN
		DECLARE @datum_rodjenja DATE;
		IF SUBSTRING(@jmbg, 5, 1) = '0' SET @datum_rodjenja = '2' + SUBSTRING(@jmbg, 5, 3) + '-' + SUBSTRING(@jmbg, 3, 2) + '-' + SUBSTRING(@jmbg, 1, 2)
		ELSE SET @datum_rodjenja = '1' + SUBSTRING(@jmbg, 5, 3) + '-' + SUBSTRING(@jmbg, 3, 2) + '-' + SUBSTRING(@jmbg, 1, 2);
		
		RETURN @datum_rodjenja;
	END;
	
DROP FUNCTION datumRodjenja;

-- Функција ,,brojGodina''

CREATE FUNCTION brojGodina(@jmbg CHAR(13))
RETURNS INT
AS
	BEGIN
		DECLARE @datum_rodjenja DATE;
		IF SUBSTRING(@jmbg, 5, 1) = '0' SET @datum_rodjenja = '2' + SUBSTRING(@jmbg, 5, 3) + '-' + SUBSTRING(@jmbg, 3, 2) + '-' + SUBSTRING(@jmbg, 1, 2)
		ELSE SET @datum_rodjenja = '1' + SUBSTRING(@jmbg, 5, 3) + '-' + SUBSTRING(@jmbg, 3, 2) + '-' + SUBSTRING(@jmbg, 1, 2);
	
		DECLARE @broj INT = DATEDIFF(YEAR, @datum_rodjenja, GETDATE());
		IF RIGHT(CONVERT(VARCHAR, @datum_rodjenja, 112), 4) > RIGHT(CONVERT(VARCHAR, GETDATE(), 112), 4) RETURN @broj - 1;
		RETURN @broj;
	END;
	
DROP FUNCTION brojGodina;

-- Табела ,,Korisnik''

CREATE TABLE Korisnik(
  email NVARCHAR(50) PRIMARY KEY,
  lozinka NVARCHAR(30) NOT NULL,
  jmbg CHAR(13) NOT NULL,
  ime NVARCHAR(20) NOT NULL,
  prezime NVARCHAR(50) NOT NULL,
  datum_rodjenja AS dbo.datumRodjenja(jmbg),
  broj_godina AS dbo.brojGodina(jmbg),
  uloga_id INT FOREIGN KEY REFERENCES Uloga(id)
);

DROP TABLE Korisnik;

INSERT INTO Korisnik (email, lozinka, jmbg, ime, prezime, uloga_id) VALUES (N'stefanovicsalex@SKBibioteka_C.rs', N'coamafija1312', '2210003710256', N'Александар', N'Стефановић', 1),
(N'stefanovicsalex@SKBibioteka_Z.rs', N'coamafija1312', '2210003710256', N'Александар', N'Стефановић', 2),
(N'stefanovicsalex@SKBibioteka_A.rs', N'coamafija1312', '2210003710256', N'Александар', N'Стефановић', 3),
(N'aleksandargerasimovic@SKBibioteka_A.rs', N'alekgera551', '1502970710742', N'Александар', N'Герасимовић', 3);

DELETE FROM Korisnik;

SELECT *
FROM Korisnik;